name: DevSecOps Pipeline

on:
  push:
  pull_request:

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements_new.txt

      - name: SAST - Bandit Scan
        run: |
          pip install bandit
          bandit -r .

      - name: SCA - Safety Scan
        run: |
          pip install safety
          safety check -r requirements_new.txt --full-report
